@model mvcrud.Helpers.PaginatedList<mvcrud.Models.Empleado>

@{
    ViewData["Title"] = "Gestión de Empleados";
}

<h1>Gestión de Empleados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-user-plus me-2"></i>Nuevo Empleado</a>
</p>
<div class="table-responsive">
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.Apellido)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.Puesto)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.Email)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault()!.NumeroTelefono)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Puesto)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroTelefono)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-secondary" asp-route-id="@item.Id" title="Editar"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                    <a asp-action="Details" class="btn btn-sm btn-info text-white" asp-route-id="@item.Id" title="Detalles"><i class="fa-solid fa-circle-info"></i> Detalles</a>
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id" title="Eliminar"><i class="fa-solid fa-trash"></i> Eliminar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="page-link">
                &lt; Anterior
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-action="Index"
                   asp-route-pageNumber="@i"
                   class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="page-link">
                Siguiente &gt;
            </a>
        </li>
    </ul>
</nav>
