@model IEnumerable<mvcrud.Models.Empleado>

@{
    ViewData["Title"] = "Lista de empleados";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Agregar Nuevo Empleado</a>
</p>
<table class="table table-bordered table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirreccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>Editar</th>
            <th>Ver</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirreccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i> Edit</a> 
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id"><i class="fa-solid fa-bullseye"></i> Details</a> 
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
