@model mvcrud.Helpers.PaginatedList<mvcrud.Models.Empleado>

@{
    ViewData["Title"] = "Lista de empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>Agregar Nuevo Empleado</a>
</p>
<table class="table table-bordered table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Dirreccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.NumeroTelefono)
            </th>
            <th>Editar</th>
            <th>Ver</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirreccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i> Edit</a> 
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id"><i class="fa-solid fa-bullseye"></i> Details</a> 
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="page-link">
                &lt; Anterior
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-action="Index"
                   asp-route-pageNumber="@i"
                   class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="page-link">
                Siguiente &gt;
            </a>
        </li>
    </ul>
</nav>
